body {
    background-image: url('../images/circles-light.png');

}

p {
    color: #777777;
}

form {
    color: #777777;
}

a {
    text-decoration: none;
    color: gray;
    padding: 10px;
}

.wrapper {
    min-height: 100%;

}

input[type=text],
select,
textarea {
    width: 690px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical
}

/* Header and navlink css */
#header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;

}

#innerheader {
    width: 960px;
    margin: 0 auto;
    position: relative;
    text-align: right;
    border-bottom: 1px solid #cccccc;

}

#name1 {
    background-color: #4aaaa5;
    float: left;
    padding: 13px;
    color: white;
    margin-top: -2%;
    font-size: 25px;
}

#navlinks {

    color: grey;

}

.innerBox {
    position: absolute;
    top: 75px;
    width: 960px;
    height: 200px;
    border-top: 1px solid #dddddd;
}

/* CSS for about me info with img */
.aboutbox {
    height: 400px;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 8px;
    margin-top: 10px;
    margin-left: 25%;
    position: relative;
    color: #4aaaa5;
    padding-bottom: 50px;
}

img {
    margin: 10px;
    padding: 10px;
}

/* CSS for contact form */
.contact {
    height: 400px;
    width: 700px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 15px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    color: #4aaaa5;
    padding-bottom: 50px;
}

/* CSS for portfolio container */
.portfolio {
    height: 500px;
    width: 700px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    color: #4aaaa5;
    padding-bottom: 50px;
}

/* Portfolio img and img textblock adjustments and settings */
.portfolioimg {
    margin: 35px;
    padding: 2px;
    float: left;
    position: relative;

}

.textblock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 112px;
    text-align: center;

}

/* CSS for footer */
#footer {
    height: 50px;
    width: 100%;
    background-color: #666666;
    position: fixed;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin-top: 25px;
    left: 0;
    bottom: 0;

}